.bg-app{
    background:#22343b;
}

.bg-panel{
    background:#13262f;

}
.text-teal{
    color:#1bb5c9;
}
.link-teal{
    color:#1bb5c9;text-decoration:none
}
.link-teal:hover{
    color:#11a0b3;text-decoration:underline
}
.bg-input{
    background:#0e1e26;border:1px solid #1bb5c9
}
.bg-input:focus{
    background:#0f242e;border-color:#35d0e5;box-shadow:0 0 0 .25rem rgba(219, 242, 245, 0.15)
}
.card{
    border-radius:14px
}
.btn-outline-info{
    border-color:#1bb5c9;color:#1bb5c9
}
.btn-outline-info:hover{
    background:#1bb5c9;border-color:#1bb5c9;color:#0b151a
}
.btn-outline-danger{
    border-color:#ff6b6b;color:#ff6b6b
}
.btn-outline-danger:hover{
    background:#ff6b6b;border-color:#ff6b6b;color:#0b151a
}
.text-danger{
    color:#ff6b6b !important
}
.text-success{
    color:#4cd964 !important
}